easyocr==1.7.2
Flask==3.1.0
flask_sqlalchemy
numpy==2.0.2
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
opencv-contrib-python==4.11.0.86
oss2==2.19.1
pandas==2.2.3
Pillow==11.1.0
psycopg2_binary==2.9.10
pydantic==2.11.3
pypinyin==0.54.0
python-dotenv==1.1.0
python_docx==1.1.2
SQLAlchemy==2.0.38
ultralytics==8.3.88
Werkzeug
alembic==1.14.1
flask_cors
lap==0.5.12
flask_migrate 